---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container";
---

<Layout title="Tesi INGV">
	<main class="flex flex-col justify-center items-center gap-y-20">
		<div class="w-screen px-40 py-10">
			<h1 class="my-10">Thermal Emissions Monitoring</h1>
			<div
				class="border-solid border-gray-500 border-4 gap-y-20 flex flex-col items-center py-10"
			>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Land Surface Temperature (LST)</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container
							chartType="BAR"
							src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]}
							oblique={true}
							circle={true}
							client:only
						/>
					</div>
				</div>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Volcanic Radiative Power</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container chartType="BAR" src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]} src="lst" circle={true} client:only />
					</div>
				</div>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Active Craters</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container chartType="BAR" src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]} oblique={true} client:only />
					</div>
				</div>
			</div>
			<h1 class="my-10">Scene Monitoring</h1>
			<div
				class="border-solid border-gray-500 border-4 gap-y-20 flex flex-col items-center py-10"
			>
				<div class="flex flex-col items-start">
					<div class="h-fit flex flex-row gap-x-10 items-center p-10">
						<Container
							chartType="BAR"
							src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]}
							circle={true}
							nolines={true}
							client:only
						/>
					</div>
				</div>
			</div>
			<h1 class="my-10">Effusive Activity Monitoring</h1>
			<div
				class="border-solid border-gray-500 border-4 gap-y-20 flex flex-col items-center py-10"
			>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Lava Flow Length / Area</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container chartType="BAR" src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]} oblique={true} client:only />
					</div>
				</div>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Numero Hotspot / Lava Flow Length</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container
							chartType="BAR"
							src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]}
							circle={true}
							nolines={true}
							client:only
						/>
					</div>
				</div>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Lava Front</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container chartType="BAR" src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]} circle={true} client:only />
					</div>
				</div>
			</div>
			<h1 class="my-10">Explosive Activity Monitoring</h1>
			<div
				class="border-solid border-gray-500 border-4 gap-y-20 flex flex-col items-center py-10"
			>
				<div class="flex flex-col items-start">
					<h3 class="ml-20">Volcanic Cloud</h3>
					<div
						class="h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
					>
						<Container
							chartType="BAR"
							src={['lst', 'vrp'][ Math.random() > 0.5 ? 1 : 0]}
							circle={true}
							nolines={true}
							client:only
						/>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 75%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
